<!DOCTYPE html>
<!--
jvig - GTFS Viewer application written using Typescript & Electron
Copyright © 2022 Mikołaj Kuranowski

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<html>
  <head>
    <meta charset="UTF-8">
    <title>jvig</title>
    <link rel="icon" href="/static/jvig.png" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="header" id="header"><h2>
      <a href="/agency">Agencies</a>
      | <a href="/routes">Routes</a>
      | <a href="/stops">Stops</a>
      | <a href="/calendars">Calendars</a>
    </h2></div>
    <div id="content">
    {% if missing %}
      <h3 class="value-error">Error! Files calendar.txt and calendar_dates.txt are not present in the GTFS</h3>
    {% else %}

      {% if data %}
      <div>
        <h5>Calendar</h5>
        <table>
          <tr>
            <th></th>
            {% for field in header %}
            <th class="{{ calendar_header_class(field) }}">
              {{ field | e }}
            </th>
            {% endfor %}
          </tr>
          {% for row in data %}
            <tr>
              <td><a href="/calendar/{{ row.service_id | urlencode }}">Calendar details →</a></td>
              {% for field in header %}
                {{ calendar_format_cell(row, field) }}
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}

      {% if implicit_calendars %}
      <div>
        <h5>Implicit services (defined only in calendar dates)</h5>
        <ul>
          {% for service_id in implicit_calendars %}
          <li><a href="/calendar/{{ service_id | urlencode }}">{{ service_id | e }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endif %}
    </div>
  </body>
</html>
